
section{
    border: 1px solid gray;
    width: 7em;
    height: 6em;
    /*width: 10em; */
    
    padding: 0.5em;
    /*
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      */
    

    float: left; 
    margin: 0.3em;
    background-color: #55f;        
    position: relative; /*absolute; */
    z-index: 100;
    border-radius: 10%;
}

article{
    margin-left: 5em;
}


.enlarged{
    visibility: visible;
    box-shadow: 10px 10px 30px black;

    draggable: true;
    
    /*
      Proportion h/w: 6/7
      New width: 11
      New height: 11 * 6/7 = 9.43
     */
    width: 9em;
    height: 7.71em;

    /*
      Subtract:
      new width minus old width = 2
      / 2 to get it equal on both sides
      = 1
      + an original margin of 0.3
      = 0.7
      

    */
    margin-left: -0.7em;
    margin-right: -0.7em;
    
    /*
      Subtract:
      new height minus old height=1.71
      + an original margin of 0.3 = (1.71 - 0.3 = 1.41)
     */
    margin-bottom: -1.41em;

    top: 1em;    
    
    background-color: #99f;
    z-index: 2000;
}

