
section{
    display: block;
    border: 1px solid gray;
    width: 80px;
    
    /*width: 10em; */
    
    padding: 0.5em;
    /*
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      */
    

    float: left; 
    margin: 5px;
    background-color: #44f;        
    position: relative; /*absolute; */
}


h2 {clear: both;}