/* simple.css av Even Holthe */
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

html
{
	font-size:16px
}

body
{
	background-color:#eee;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:1.333;
	margin:0 auto;
	padding:1rem;
	width:90%
}

article
{
	background:#fff;
	border:4px solid #555;
	padding:1rem
}

h1
{
	font-size:2.5rem;
	text-align:center
}

code
{
	background-color:#FF0;
	font-size:0.9rem
}

a
{
	color:#F92672
}

a:hover
{
	color:#7C1339
}

header address
{
	text-align:center
}

aside h3
{
	font-size:1.5rem;
	margin:0
}

aside
{
	background:#fefabc;
	box-shadow:0 4px 6px #333;
	color:#000;
	float:right;
	font-family:'Gloria Hallelujah', "Comic Sans MS", cursive, serif;
	font-size:0.8rem;
	line-height:1.233;
	margin:1rem;
	max-width:30%;
	padding:1rem;
	transform:rotate(1deg)
	-moz-transform:rotate(1deg);
	-ms-transform:rotate(1deg);
	-o-transform:rotate(1deg);
	-webkit-transform:rotate(1deg);
}

footer
{
	font-size:0.8rem;
	font-style:italic;
	text-align:right
}