section{
    position: absolute;
    width: 80%;
    height: 80%;
    box-shadow: 10px 10px 20px black;
    background-image: url("tile_waves.jpg");
    margin: 2%;
}

section section{    
    heigth: 80%;
    width: 80%;
    background-image: url("tile_wallpaper.jpg");
}


section section section{
    position: relative;
    height: 100px;
    background-image: url("tile_crayons.jpg");
}

footer{
    border-radius: 20px;
    padding: 1em;
    color: white;
    position: fixed;
    width: 50%;
    height: 1em;
    bottom: 50px;
    left: 90px;
    border: 2px ridge gray;
    background-image: url("tile_carbon.png");
    box-shadow: 10px 10px 20px black inset;
    text-shadow: 3px 3px 3px black;

}