
#fireworks{
    position: absolute;
}

header{
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 200px;
}

#dotbox{
	position: fixed;
	width: 90%;
	height: 90%;
	border: 2px groove gray;
	overflow: hidden;
}

canvas{

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

button{
    z-index: 0;
}

.dot{	
    background-color: red;
    width: 10px; 
    height: 10px; 
    border-radius: 25px; 
    position: fixed;
    margin: 30% 50%;
    

}

